[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
gym = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
jupyter = "*"
absl-py = "*"
scikit-image = "*"
tqdm = "*"
tensorflow = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
