<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ModelViz</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous">
</head>
<body>
    <div id="container">
        <button id="startbtn" type="button" onclick="javascript:start()">Start</button>
        <button id="stopbtn" type="button" onclick="javascript:stop()">Stop</button>
        <button id="stepbtn" type="button" onclick="javascript:step()">Step</button>
        <select id="layerSelect"></select>
        <select id="modelSelect"></select>
        <div class="layer-container">
            <canvas id="layer_viz"></canvas>
        </div>
        <div class="graph-container">
            <canvas id="q_value_viz"></canvas>
            <canvas id="q_value_plot"></canvas>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0/dist/chartjs-plugin-streaming.min.js" integrity="sha256-wqXny6qh3ioeH5yAUB6xPVTJ/EcNaHOR1HvuSZuEFXU=" crossorigin="anonymous"></script>

<script src="static/js/layer_viz.js"></script>
<script src="static/js/q_value_viz.js"></script>
<script src="static/js/index.js"></script>
</html>